:root {
  --primary-color: #f0d9ff;
  --secondary-color: rgb(240, 208, 146);
  --menu-speed: 0.75s;
  --color-1: #fff;
  --basic-color: black;
  --text-color: #cfb3f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--basic-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.nav {
  height: 7vmin;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
}

.name {
  margin-left: 2vw;
  color: var(--text-color);
  border-bottom: solid 1px var(--secondary-color);
}

.ul1 {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 35vw;
  color: var(--text-color);
  align-items: center;
}

.ul1 li {
  text-decoration: none;
  color: var(--text-color);
}

.ul1 li:hover {
  border-bottom: solid 1px var(--secondary-color);
  cursor: pointer;
}

.download {
  width: 150px;
  height: 5vh;
  border-radius: 20px;
  color: var(--text-color);
  font-weight: 500;
  background-color: transparent;
}

.download:hover {
  border: solid 1px var(--secondary-color);
  cursor: pointer;
}

#about-section {
  display: flex;
  flex: 1 1 0;
  margin-top: 15vh;
}
.about-img,
.about-box {
  height: 60vh;
  margin-left: 10vw;
}

#my-img {
  height: 60vh;
  background-size: cover;
  border-radius: 10px;
  border: solid 2px var(--secondary-color);
}
h2,
p {
  color: var(--text-color);
  margin-right: 10vw;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8vh;
}
h3{
  display: flex;
  justify-content: space-around;
  color: var(--text-color);
  padding-top: 1vh;
}

h3:hover {
  cursor: pointer;
}

.projects-box {
  height: 90vh;
  margin: 15vh 2vw 5vh 2vw;
}

.slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1 {
  width: 70vw;
  height: 70vh;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 40px;
  font-size: 3rem;
  color: var(--text-color);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 3rem;
  color: var(--text-color);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}


.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.link-project {
  display: inline-block;
  transform: translate(10px, 5px);
  text-decoration: none;
  color: var(--text-color);
  mix-blend-mode: difference;
  margin-left: 5px;
}

.footer-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6vh;
  background-color: var(--basic-color);
  justify-content: space-around;
  color: var(--text-color);
  float: inline-end;
  position: sticky;
}

.fas {
  transform: translateX(-0.5vw);
}

.fa-2x {
  color: var(--text-color);
}

.icons {
  width: 10vw;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: small;
  }

  .nav {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .name {
    margin-top: 3vh;
  }

  .ul1 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 20vh;
    width: 90vw;
    color: var(--text-color);
    align-items: center;
  }

  .download {
    width: 33vw;
    height: 5vh;
  }

  .download:hover {
    border: solid 1px var(--secondary-color);
    cursor: pointer;
  }

  #about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10vw 0 15vw;
    width: 80vw;
    height: 120vh;
  }
  #my-img {
    height: 50vh;
    width: 50vw;
    background-size: cover;
    border-radius: 10px;
  }

  .about-box {
    height: 40vh;
    width: 70vw;
    margin: 0 2vw 0 5vw;
  }

  h2,
  p {
    margin-left: 7vw;
  }

 

  .projects-box {
    height: 30vh;
  }
  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image1 {
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .left-arrow,
  .right-arrow {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }

  /* .left-arrow {
    top: 15%;
    left: 15px;
  }

  .right-arrow {
    top: 15%;
    right: 15px;
  } */

  .fa-link,
  .small{
    font-size: 0.8rem;
    color: var(--text-color);
  }

  .footer-inner {
    height: 40vh;
    background-color: var(--basic-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    flex-direction: column;
    font-size: small;
  }

  .icons {
    width: 30vw;
    display: flex;
    justify-content: space-between;
  }
}


@media only screen and (min-width: 770px) and (max-width: 900px) {
 
  .nav {
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
  }


  .ul1 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 7vh;
    width: 55vw;
    color: var(--text-color);
    align-items: center;
  }

  .download {
    width: 20vw;
    height: 6vh;
  }

 
  #about-section {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    height: 90vh;
  }
  #my-img {
    background-size: cover;
    border-radius: 10px;
  }

  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .left-arrow,
  .right-arrow {
    font-size: 1.2rem;
  }

  
  .fa-link,
  .small{
    font-size: 0.8rem;
    color: var(--text-color);
  }

  
  .footer-inner {
    height: 7vh;
    background-color: var(--basic-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    font-size: small;
  }

  .icons {
    width: 12vw;
    display: flex;
    justify-content: space-between;
  }
}



/* SCROLL TO TOP */

.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color:var(--basic-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--primary-color);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: var(--basic-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}


/* SCROLL TO BTM */

.top-to-btm{
  position: relative;
}
.icon-down-position{
  position: fixed;
  top: 40px;
  right: 25px;
  z-index: 20;
}
.icon-down-style{
  background-color:var(--basic-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--primary-color);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: var(--basic-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
@keyframes movebtn-down {
  0%{
    transform: translateY(80px);
  }
  25%{
    transform: translateY(40px);
  }
  50%{
    transform: translateY(60px);
  }
  100%{
    transform: translateY(60px);
  }
}